[submodule "frontend"]
	path = frontend
	url = git@github.com:jtn-ms/react-template.git
	branch = templates/jwt
[submodule "backend"]
	path = backend
	url = git@github.com:jtn-ms/nodejs-template.git
	branch = templates/jwt
